<mat-toolbar class="toolbar" style="background-color: #F2EFF4;">
    <mat-toolbar-row style="padding: 0px 125px 0px 5px">
        <button mat-icon-button (click)="toggleSideBar()">
            <mat-icon>menu</mat-icon>
        </button>

        <span> {{languageService.show('title')}} </span>
        <span style="flex: 1 1 auto; "></span>
        <span>
            <mat-form-field>
                <mat-select [(value)]= "languageService.option">
                    <mat-option [value]=0 style="font-size: small;">Tiếng Việt</mat-option>
                    <mat-option [value]=1 style="font-size: small;">English</mat-option>
                </mat-select>
                <button mat-icon-button>
                    <mat-icon routerLink={{mapRouter(languageService.opt)}}>explore</mat-icon>
                </button>
                <button mat-icon-button>
                    <mat-icon routerLink={{chartRouter(languageService.opt)}}>timeline</mat-icon>
                </button>
                <button mat-icon-button style="flex: 1 1 auto">
                    <mat-icon routerLink={{statisticRouter(languageService.opt)}}>view_list</mat-icon>
                </button>
            </mat-form-field>
        </span>

        <!-- <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
            <ul fxLayout="row" fxLayoutGap="20px">
                <li>
                    <mat-form-field>
                        <mat-select [(value)]= "languageService.option">
                            <mat-option value=0 style="font-size: small;">Tiếng Việt</mat-option>
                            <mat-option value=1 style="font-size: small;">English</mat-option>
                        </mat-select>
                         <button mat-icon-button>
                            <mat-icon routerLink={{mapRouter(languageService.opt)}}>explore</mat-icon>
                        </button>
                        <button mat-icon-button>
                            <mat-icon routerLink={{mapRouter(languageService.opt)}}>explore</mat-icon>
                        </button>
                        <button mat-icon-button>
                            <mat-icon routerLink={{chartRouter(languageService.opt)}}>timeline</mat-icon>
                        </button>
                        <button mat-icon-button>
                            <mat-icon routerLink={{statisticRouter(languageService.opt)}}>view_list</mat-icon>
                        </button>
                    </mat-form-field>
                </li>
                <li>
                    <button mat-icon-button>
                        <mat-icon routerLink={{mapRouter(languageService.opt)}}>explore</mat-icon>
                    </button>
                </li>
                <li>
                    <button mat-icon-button>
                        <mat-icon routerLink={{chartRouter(languageService.opt)}}>timeline</mat-icon>
                    </button>
                </li>
                <li>
                    <button mat-icon-button>
                        <mat-icon routerLink={{statisticRouter(languageService.opt)}}>view_list</mat-icon>
                    </button>
                </li>
            </ul>
        </div> -->
    </mat-toolbar-row>
</mat-toolbar>